
* 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body 
{
  background-color: rgba(35, 22, 6, 0.888);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 30px;
  /*zoom: 88*/
}

canvas
{
    margin: 10px;
    border-radius: 20px;
}
audio
{
  display: none;
}

